{% extends "Mostrar.html" %}

{% block columnas %}

    <th scope="row" style="vertical-align:middle;">{{object.nombre}}</th>
    <td style="vertical-align:middle;">{{object.profesor}}</td>
    <td style="vertical-align:middle;">{{object.villanos}}</td>
    <td style="vertical-align:middle;">{{object.capital}}</td>
    <td style="vertical-align:middle;">{{object.liga_pokemon}}</td>
    <td style="vertical-align:middle;">
        <a href="{{object.url_img}}" target="_blank">
        <img src="{{object.url_img}}" width="100"></a>
    </td>
    <td style="vertical-align:middle;">

        <a href="{% url 'EliminarRegion' object.nombre %}">Borrar</a>
        <a href="{% url 'EditarRegion' object.nombre %}">Editar</a>
    </td>
    

    
{% endblock %}