{% extends 'Mostrar.html' %}
{% block columnas %}
    <th scope="row" style="vertical-align:middle;">{{object.nombre}}</th>
    <td style="vertical-align:middle;">{{object.genero}}</td>
    <td style="vertical-align:middle;">{{object.region}}</td>
    <td style="vertical-align:middle;">{{object.clase}}</td>
    <td style="vertical-align:middle;">
        <a href="{{object.url_img}}" target="_blank">
        <img src="{{object.url_img}}" width="100"></a>
    </td>
    <td style="vertical-align:middle;">

        <a href="{% url 'EliminarEntrenador' object.nombre %}">Borrar</a>
        <a href="{% url 'EditarEntrenador' object.nombre %}">Editar</a>
    </td>
{% endblock %}