{% extends "base.html" %}

{% block cambios %}
<table class="table text-center">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo 1</th>
        <th scope="col">Tipo 2</th>
        <th scope="col">Imagen</th>
        

    </tr>
    </thead>

    <tbody>
{% if pokemons %}

{% for pokemon in pokemons %}
<tr>
    <!-- Llenado de las columnas -->
    <th scope="row" style="vertical-align:middle;">{{pokemon.id}}</th>
    <td style="vertical-align:middle;">{{pokemon.nombre}}</td>
    <td style="vertical-align:middle;">{{pokemon..tipo1}}</td>
    <td style="vertical-align:middle;">{{pokemon.tipo2}}</td>
    
    <!-- Imagen -->
    <td style="vertical-align:middle;">
        <a href="{{pokemon.url_img}}" target="_blank">
        <img src="{{pokemon.url_img}}" width="100"></a>
    </td>

</tr>
{% endfor %}
{% else %}
<div class="alert alert-danger mt-5" role="alert">
    No hay Pokemons registrados aún
</div>
{% endif %}
</tbody>
</table>

{% endblock %}