{% extends "Mostrar.html" %}

{% block columnas %}

    <th scope="row" style="vertical-align:middle;">{{object.id}}</th>
    <td style="vertical-align:middle;">{{object.nombre}}</td>
    <td style="vertical-align:middle;">{{object.tipo1}}</td>
    <td style="vertical-align:middle;">{{object.tipo2}}</td>
    <td style="vertical-align:middle;">
        <a href="{{object.url_img}}" target="_blank">
        <img src="{{object.url_img}}" width="100"></a>
    </td>
    <td style="vertical-align:middle;">

        <a href="{% url 'EliminarPokemon' object.nombre %}">Borrar</a>
        <a href="{% url 'EditarPokemon' object.nombre %}">Editar</a>
    </td>
    

    
{% endblock %}

